<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Appointments</title>
    <%- include('CDN/bootstrap.ejs') %>
    <%- include('CDN/datatablecss.ejs') %>
</head>
<body>
<div class="d-flex">
<%- include('Header/Patient_Header.ejs') %> 
<!-- Right Side------ -->

  <div class="flex-grow-1 bg-light p-2">

      <div class="container-fluid">
        <h2 class="text-center text-danger mt-4 mb-5">Dashboard</h2>
        <div class="row">
                 
                <div class="col-sm-2 bg-warning text-white hg d-flex justify-content-center">
                  <div class="graph">
                     <div class="count">7</div>
                     <div class="label">Total Enquiry</div>
                  </div>
                </div>

                 <div class="col-sm-2 bg-success text-white hg d-flex justify-content-center">
                    <div class="graph">
                      <div class="count">24</div>
                      <div class="label">Total Appointment</div>
                  </div>
                </div>
                <div class="col-sm-2 bg-primary text-white hg d-flex justify-content-center">
                    <div class="graph">
                      <div class="count">2</div>
                      <div class="label">Medical History</div>
                    </div>
                </div>
                <div class="col-sm-2 bg-info text-white hg d-flex justify-content-center">
                   <div class="graph">
                      <div class="count">24-12-2025</div>
                      <div class="label">Current Date</div>
                  </div>
                </div>
                <div class="col-sm-4">
                    <img src="../public/images/Pdashwomen.png"style="height:60%;" >
                </div>
       </div>
      </div>      
 
</div>
 
        
        <div style="position: absolute; top:36%;left:-8%; width:100%;">
          <h3 class="text-center text-danger">My Appointments</h3>
             <div class="container mt-3">
               <div class="row mt-2">
                   <div class="col-sm-10 offset-sm-1 mt-3">
                  <% if(locals.datas) 
                  {%>
                     <table class="table table-primary table-striped-columns" id="palist">
                       <thead>
                             <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Email_Id</th>
                                <th>Phone</th>
                                <th>PDate</th>
                                <th>PTime</th>
                                <th>Address</th>
                             </tr>
                       </thead>
                       <tbody>
                          <% for(var i=0;i<datas.length;i++)
                          {%>
                              <tr>
                                    <td><%=datas[i].id%></td>
                                    <td><%=datas[i].name%></td>
                                    <td><%=datas[i].email%></td>
                                    <td><%=datas[i].phone%></td>
                                    <td><%=datas[i].presefered_date%></td>
                                    <td><%=datas[i].preffer_time%></td>
                                    <td><%=datas[i].address%></td>
                              </tr>
                          <%}%>
                        </tbody>
                     </table>
                     <% } %>
                
                    <% if(locals.mesg)
                    {%>  
                        <h6 align="center"><%=mesg%></h6>
                    <%}%>
           
        </div>
               </div>
             </div>
        </div>

<!-- Right Side End -->

<%- include('CDN/javascript.ejs') %>
<%- include('CDN/datatablejs.ejs') %>
<%- include('chat/chat.ejs') %>
<script>
  $('#palist').DataTable();
</script>
</body>
</html>