<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('CDN/bootstrap.ejs') %>
</head>
<body>
    <div class="d-flex">
    <%- include('Header/Patient_Header') %>
    
    <!-- Right Side   -->
        <div class="flex-grow-1 bg-light p-2">
            <div class="container-fluid">
                <h2 class="text-danger text-center mt-4 mb-5">Dashboard</h2>
                <div class="row">

                        <div class="col-sm-2 bg-warning text-white hg d-flex justify-content-center">
                            <div class="graph">
                                <div class="count">245</div>
                                <div class="label">Total Inquiry</div>
                            </div>
                       
                            
                        </div>
                        <div class="col-sm-2 bg-success text-white hg d-flex justify-content-center">
                            <div class="graph">
                                <div class="count">245</div>
                                <div class="label">Total Appointment</div>
                            </div>
                        </div>
                        <div class="col-sm-2 bg-primary text-white hg d-flex justify-content-center">
                            <div class="graph">
                                <div class="count">245</div>
                                <div class="label">Medical History</div>
                            </div>
                        </div>
                        <div class="col-sm-2 bg-info text-white hg d-flex justify-content-center">
                            <div class="graph">
                                <div class="count">17-12-2025</div>
                                <div class="label">current Date</div>
                            </div>
                            
                        </div>


                        <div class="col-sm-4">
                            <img src=" " alt="img hospital banner" style="height:60%">
                        </div>
                </div>
            </div>
</div>
    

                    <div style="position:absolute; top:36%; left:30%"></div>
                    <h3 class="text-center text-danger">Latest Notification</h3>
                    <marquee direction="up" class="mt-2">
                        <h5 class="mb-4"><a href="/">Blood Donation Held on 26 Dec 2025</a></h5>
                        <h5 class="mb-4"><a href="/">Blood Donation Held on 26 Dec 2025</a></h5>
                        <h5 class="mb-4"><a href="/">Blood Donation Held on 26 Dec 2025</a></h5>
                        <h5 class="mb-4"><a href="/">Blood Donation Held on 26 Dec 2025</a></h5>
                        <h5 class="mb-4"><a href="/">Blood Donation Held on 26 Dec 2025</a></h5>
                        <h5 class="mb-4"><a href="/">Blood Donation Held on 26 Dec 2025</a></h5>
                        <h5 class="mb-4"><a href="/">Blood Donation Held on 26 Dec 2025</a></h5>

                    </marquee>
                    </div>

                        
               









    <!-- Right side end -->

      
        
   <%- include('CDN/javascript.ejs') %>
    <%- include('chat/chat.ejs') %>
</body>
</html>



















    <%- include ('Chat/chat.ejs') %> 
    <%- include ('CDN/javascript.ejs') %>
</body>
</html>