
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <%- include('CDN/bootstrap.ejs') %>
</head>
<body>
<%- include('PDashboard_bar/pbar') %>
    <div style="position:absolute; top:34%;left:6%; width:60%;">
    
          <div class="container mt-5">
            <div class="row mt-2">
              <div class="col-sm-9 offset-sm-4 mt-1">
                <h3 class="text-center text-danger">Manage Accounts</h3>
                <div class="card">
                  <div class="card-header text-center">
                    <h3>Change Password</h3>
                  </div>
                  <div class="card-body">
                    <form action="/Patient_settings" method="post">
                    <div class="form-group mb-3">
                      <label for="old">Old Password</label>
                      <input type="password" class="form-control" id="old" name="oldpassword" required>
                      <label for="newpassword"class="mt-3">New Password</label>
                      <input type="password" class="form-control" id="newpassword" name="newpassword" required>
                      <label for="confpassword" class="mt-3">Confirm Password</label>
                      <input type="password" class="form-control" id="confpassword" name="confpassword" required>

                      </div>
                          <button type="submit" class="btn btn-danger w-100">Submit</button>
                        
                    </form>
                    <% if(locals.mesg)
                    { %> 
                        <h6 align="center"><%= mesg %> </h6>
                    <% }
                    %>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>

<%- include('CDN/javascript.ejs') %>
<%- include('chat/chat.ejs') %>
</body>
</html>


